<form method="POST" action="/prehistoric_creatures/<%=dinoId%>/?_method=PUT">
    <label>URL</label>
    <input type="text" name="img_url" value="<%= dino.img_url %>">
    <label>Type</label>
    <input type="text" name="type" value="<%= dino.type %>">
    <input type="submit">
</form>